TASKS_DATABASE_URL="postgresql://tasks_user:your_password@localhost:5432/tasks_db"

TASKS_NEXTAUTH_SECRET="change-me"
TASKS_NEXTAUTH_URL="http://localhost:3000"

TASKS_AUTH="local"
TASKS_OIDC_ISSUER=""
TASKS_OIDC_CLIENT_ID=""
TASKS_OIDC_CLIENT_SECRET=""
TASKS_OIDC_NAME=""
